{% for item in basket %}
    <div class="basket_record">
        <img src="/media/{{ item.product.image }}" alt="img">
        <span class="category_name"> {{ item.product.category.name|title }}</span>
        <span class="product_name"> {{ item.product.name|title }}</span>
        <span class="product_price"> {{ item.product.price }}</span>
        <input name="{{ item.pk }}" value="{{ item.quantity }}" min="0" type="number"/>
        <span class="product_cost">{{ item.product_cost }}</span>
        <a href="{% url 'basket:remove' item.pk %}" class="btn btn-danger">x</a>
    </div>
{% endfor %}
{% if basket %}
    <div class="basket_summary">
        В корзине {{ basket.0.total_quantity }}&nbsp;товаров, общей стомостью {{ basket.0.total_cost }}&nbsp;руб
    </div>
{% else %}
    В корзине пока пусто =(
{% endif %}
